.channels {
  padding: 0px 16px;
}

.channel {
  display: flex;
  margin-bottom: 8px;
}

.thumbnail {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.channelInfo {
  margin-left: 8px;
}

.channelTitle {
  font-size: 16px;
  font-weight: 600;
}

.channelDescription {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}

.channelPublishedAt {
  font-size: 12px;
  font-style: italic;
}

.channelStats {
  font-size: 12px;
  font-weight: 500;
}